
  <footer>
    <ul>
      <p>
        Posted by: DAS
        |
        Contact information: <a href="contact@das.com">contact@das.com</a>
        |
        About
        
      </p>
    </ul>
  </footer>
