<h1>- Our Mission -</h1>

<p>To run all your errands at your doorstep.<p>

<h3>- About Us-</h3>

<p>At Commonplaces, we believe that all your errands can be run conveniently while you concencentrate with what you do best. Laundry, pet-grooming, car detailing, you name it, we get it done for you. Commonplaces started with a small team of 3 dedicted to help you with your daily errands at a fraction of the usual cost. We carefully source for our service providers in Singapore to ensure that while we keep the cost low, we do not compromise on quality. </p>

<h3>- Meet our Team -</h3>
<br>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "andre.jpg" %>
      <div class="caption">
        <h4>Andre The</h4>
          <h5>CTO</h5>
        <p>(Chief Tio-bully-by-Shimei Officer)</p>
      </div>
      linkedin
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "shimei.jpg" %>
      <div class="caption">
        <h4>Wong Shi Mei</h4>
        <h5>CEO</h5>
        <p>(Chief Execute-Everybody Officer)</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "desmond.jpg" %>
      <div class="caption">
        <h4>Desmond Heng</h4>
        <h5>CFO</h5>
        <p>(Chief Food Officer)</p>
      </div>
    </div>
  </div>
</div>
