<h1>Common Places</h1>

<div class="container" text-align: centre>
  I would like to request for <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Services
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="/services/1">Laundry</a></li>
      <li><a href="/services/2">Dry Cleaning</a></li>
      <li><a href="/services/3">Housekeeping</a></li>
      <li><a href="/services/4">Mobile Pet Grooming</a></li>
      <li><a href="/services/5">Groceries</a></li>
      <li><a href="/services/6">Car Detailing</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Suggest</a></li>
    </ul>
  </div>
</div>
