// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 120px;
  background-color: #FAFFFD;
}
footer {
  position: relative;
  right:  0;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  background-color:#3C91E6;
 }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }
