// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn default{
  color: #3C91E6;
}

.carousel {
  width:960px;
  height:410px;
  overflow: hidden;
  margin: auto;
}
